<%- include('../partials/header') %>
    <h2>Thêm Nhà cung cấp</h2>
    <form method="POST" action="/suppliers">
        <label>Name</label><br><input name="name" required><br>
        <label>Address</label><br><input name="address"><br>
        <label>Phone</label><br><input name="phone"><br>
        <button type="submit">Lưu</button>
    </form>
    <%- include('../partials/footer') %>